﻿ 
@model Order

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <input asp-for="Email" type="hidden" value=@ViewData["Email"] />

                    <h6 class="card-subtitle mb-2">FullName: @Model.FullName</h6>
                    
                    <h6 class="card-subtitle mb-2">Email: @Model.Email</h6>
                    <h6 class="card-subtitle mb-2">Phone: @Model.Phone</h6>
                    <h6 class="card-subtitle mb-2">Address: @Model.Adress</h6>
                    <h6 class="card-subtitle mb-2">Note: @Model.Note</h6>
                    <h6 class="card-subtitle mb-2">Date: @Model.CreatedDate.ToString("dd-MM-yyyy HH:mm")</h6>
                    <h6 class="card-subtitle mb-2">Note: @Model.Note</h6>
                    <h6 class="card-subtitle mb-2">@Model.OrderItem.TourName  @((Model.OrderItem.UnitDiscountPrice.ToString("0.00")))

                    <h6 class="card-subtitle mb-2">TotalAmount: @Model.TotalAmount</h6>


                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <a asp-action="accept" asp-route-id="@Model.Id" class="btn btn-success">Accept</a>
                    <a asp-action="reject" asp-route-id="@Model.Id" class="btn btn-danger">Reject</a>
                </div>
            </div>
        </div>
    </div>
</div>