@using Final_Project_Travel.ViewModels;
﻿
@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}

    <!-- Slider section start  -->

    <div class="slick-carousel">
        @foreach (var item in Model.Sliders)
    {
         <div class="slide-content">
                <div style="position: absolute; z-index: 11111; color: white;margin-top:300px;margin-left:100px;"> 
                    <h1 style="font-size: 20px;">@item.Title</h1>
                    <p style="font-size: 50px;">@item.Desc</p>
                    <a href="@item.ButtonUrl" class="btn btn-warning text-white p-2 rounded-2" style="width:120px;">@item.ButtonText</a>
                </div>
                <img style="position: relative;opacity:0.8; filter:contrast(1.5);" src="~/manage/assets/uploads/slider/@item.ImageName"  alt="">
                
            </div>
            
    }

    </div>

    <!-- Slider section end -->

    <!-- Destinations slider start -->

    <section id="slider">
        <p>Find a Tour by</p>
        <h2>DESTINATION</h2>
        <hr>
        <div class="items js-flickity" data-flickity-options='{"wrapAround": true,"freeScroll": true }'>
           @foreach (var item in Model.Destinations)
            {
            <div class="item">
                <div class="hover"></div>
                <p>@item.Name</p>
                <img src="~/manage/assets/uploads/destination/@item.ImageName" alt="">
            </div>
        }
           
        </div>
    </section>

    <!-- Destinations slider end-->

    <!-- Popular Tours slider start-->
    <section id="nature-slider">
        <p>Take a Look at Our</p>
        <h1>MOST POPULAR TOURS</h1>
        <hr>
        <div class="nature-slide js-flickity" data-flickity-options='{"wrapAround": true,"freeScroll": true }'>
            @foreach (var item in Model.PopularTours)
            {
            <div class="item ">
                <div class="icon-wishlist"> <a asp-controller="tour" asp-action="addtoWishlist" asp-route-id="@item.Id" data-toggle="tooltip" class="wishlist-btn" title="Add To wishlist"></a></div>
                <div class="image" style=" background-image: url(../manage/assets/uploads/tours/@item.ImageName);">
                    <span>@item.SalePrice AZN</span>
                    <div class="img-icons">
                        <a asp-action="index" asp-controller="checkout" data-toggle="tooltip" title="Add To Cart">
                            <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                           class="fa-solid fa-plane"></i>
                        </a>
                        <a asp-controller="tour" asp-action="getdetail" asp-route-id="@item.Id" class="modal-btn">
                            <span data-toggle="tooltip"
                              title="Quick View">
                                <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                               class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="slide-text">
                    <h2>@item.Name</h2>
                    <p><i class="fa-regular fa-clock"></i>@(@item.EndDate.Subtract(item.StartDate).Days+1) DAYS - @item.EndDate.Subtract(item.StartDate).Days NIGHTS </p>
                    <p>@item.Desc</p>
                </div>
                <div class="read-more">
                    <div class="icons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="read">
                        <span></span>
                        READ MORE
                    </div>
                </div>
            </div>
        }
            
        </div>
    </section>
    <!-- Popular Tours slider end -->

    <!-- Service  start-->
    <section id="service">
        <h1>WHY CHOOSE US?</h1>
        <hr>
        <div class="items">
           @foreach (var item in Model.Advantages)
            {
            <div class="item">
                <img src="~/manage/assets/uploads/icon/@item.Icon" alt="">
                <h2>@item.Title</h2>
                <p>@item.Desc</p>
            </div>
        }
           
        </div>
    </section>
    <!-- Service end-->

    <!-- Counters start -->
    <section id="counters">
        <p>Some statistics about Travel WP</p>
        <h2>CENTER ACHIEVEMENTS</h2>
        <hr>
        <div class="counter">
            <div class="count">
                <i class="fa-solid fa-plane"></i>
                <p class="number" id="projectcount">94,532</p>
                <p class="count-text">CUSTOMERS</p>
            </div>
            <div class="count">
                <i class="fa-brands fa-pagelines"></i>
                <p class="number" id="clientount">1021</p>
                <p class="count-text">DESTINATIONS</p>
            </div>
            <div class="count">
                <i class="fa-solid fa-globe"></i>
                <p class="number" id="branchcount">20,096</p>
                <p class="count-text">TOURS</p>
            </div>
            <div class="count">
                <i class="fa-solid fa-person-walking-luggage"></i>
                <p class="number" id="yearcount">121</p>
                <p class="count-text">TOUR TYPES</p>
            </div>
        </div>
        <a href=""><i class="fa-solid fa-plane"></i> BOOKING NOW</a>
    </section>

    <!-- Counters end -->

    <!-- Discount section start -->
    <section id="tour-count">
        <h1>DEALS AND DISCOUNTS</h1>
        <hr>
        <div class="items js-flickity" data-flickity-options='{"wrapAround": true,"freeScroll": true }'>
            @foreach (var item in Model.DiscountTours)
            {
            <div class="item">
                <div class="icon-wishlist"><a asp-controller="tour" asp-action="addtoWishlist" asp-route-id="@item.Id" data-toggle="tooltip" class="wishlist-btn" title="Add To wishlist"></a></div>
                <div class="image" style=" background-image:url('/assets/image/uploads/tours/@item.ImageName');">
                    <span><del>@item.SalePrice AZN</del> @item.DiscountPrice AZN</span>
                    <div class="img-icons">
                        <a asp-action="index" asp-controller="checkout" data-toggle="tooltip" title="Add To Cart">
                            <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                           class="fa-solid fa-plane"></i>
                        </a>
                        <a asp-controller="tour" asp-action="getdetail" asp-route-id="@item.Id" class="modal-btn" >
                            <span data-toggle="tooltip"
                              title="Quick View">
                                <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                               class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="slide-text">
                    <h2>@item.Name</h2>
                    <p><i class="fa-regular fa-clock"></i>@(@item.EndDate.Subtract(item.StartDate).Days+1) DAYS - @item.EndDate.Subtract(item.StartDate).Days NIGHTS</p>
                    <p>@item.Desc</p>
                </div>
                <div class="read-more">
                    <div class="icons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="read">
                        <span></span>
                        READ MORE
                    </div>
                </div>
            </div>
        }
          
        </div>
    </section>

    <!-- Discount section end -->

    <!-- Blog section start-->
    <section id="blogs">
        <div class="blog-1">
            <h2>TOURS REVIEWS</h2>
            <hr>
            <div class="items">
                <div class="item">
                    <img src="./image/blog-1.jpeg" alt="">
                    <p style="font-weight: 900;">PhysCode</p>
                    <p>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </p>
                    <h3>Anchorage to Santiago</h3>
                    <p>Mattis interdum nunc massa. Velit. Nonummy penatibus luctus. Aliquam. Massa aptent senectus
                        elementum taciti</p>
                    <p style="font-size: 12px;">
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="blog-2">
            <h2>LATEST POST</h2>
            <hr>
            <div class="blogs">
                <div class="blog">
                    <img src="./image/blog-1.jpg" alt="">
                    <h3>Love advice from experts</h3>
                    <p class="icon-p">
                        <span><i class="fa-solid fa-calendar-days"></i>September 6, 2016</span>
                        <span><i class="fa-solid fa-tags"></i>Technology</span>
                    </p>
                    <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur</p>
                </div>
                <div class="blog">
                    <img src="./image/blog-2.jpg" alt="">
                    <h3>World’s hottest destinations for vegans</h3>
                    <p class="icon-p">
                        <span><i class="fa-solid fa-calendar-days"></i>September 6, 2016</span>
                        <span><i class="fa-solid fa-tags"></i>Technology</span>
                    </p>
                    <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog section end-->

    <!-- Quick view modal start -->
    <div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
        </div>
    </div>
    <!-- Quick view modal end -->