@using Final_Project_Travel.ViewModels;
﻿
@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}

    <!-- Slider section start  -->

    <div class="slick-carousel">
        @foreach (var item in Model.Sliders)
    {
         <div class="slide-content">
                <div style="position: absolute; z-index: 11111; color: white;margin-top:300px;margin-left:100px;"> 
                    <h1 style="font-size: 20px;">@item.Title</h1>
                    <p style="font-size: 50px;">@item.Desc</p>
                    <a href="@item.ButtonUrl" class="btn btn-warning text-white p-2 rounded-2" style="width:120px;">@item.ButtonText</a>
                </div>
                <img style="position: relative;opacity:0.8; filter:contrast(1.5);" src="~/manage/assets/uploads/slider/@item.ImageName"  alt="">
                
            </div>
            
    }

    </div>

    <!-- Slider section end -->

    <!-- Destinations slider start -->

    <section id="slider">
        <p>Find a Tour by</p>
        <h2>DESTINATION</h2>
        <hr>
        <div class="items js-flickity" data-flickity-options='{"wrapAround": true,"freeScroll": true }'>
           @foreach (var item in Model.Destinations)
            {
            <div class="item">
                <div class="hover"></div>
                <p>@item.Name</p>
                <img src="~/manage/assets/uploads/destination/@item.ImageName" alt="">
            </div>
        }
           
        </div>
    </section>

    <!-- Destinations slider end-->

    <!-- Popular Tours slider start-->
    <section id="nature-slider">
        <p>Take a Look at Our</p>
        <h1>MOST POPULAR TOURS</h1>
        <hr>
    <div class="nature-slide js-flickity" data-flickity-options='{"wrapAround": true , "freeScroll": true }'>
            @foreach (var item in Model.PopularTours)
            {
            <div class="item">
                <a asp-controller="tour" asp-action="addtowishlist" asp-route-id="@item.Id" class="wishlist-btn" data-toggle="tooltip" title="Add To Cart">
                    <div class="icon-wishlist addwish "></div>
                </a>
                <div class="image" style=" background-image: url(../../manage/assets/uploads/tours/@item.TourImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName)">
                  
                    <span>@item.SalePrice AZN</span>
                    <div class="img-icons">
                        <a asp-action="checkout" asp-controller="order" asp-route-id="@item.Id" data-toggle="tooltip" title="Add To Cart">
                            <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                           class="fa-solid fa-plane"></i>
                        </a>
                        <a asp-controller="tour" asp-action="detail" asp-route-id="@item.Id" class="modal-btn">
                            <span data-toggle="tooltip"
                              title="Quick View">
                                <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                               class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="slide-text">
                    <h2>@item.Name</h2>
                    <p><i class="fa-regular fa-clock"></i>@(@item.EndDate.Subtract(item.StartDate).Days+1) DAYS - @item.EndDate.Subtract(item.StartDate).Days NIGHTS </p>
                   
                </div>
                <div class="read-more">
                    <div class="icons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="read">
                        <span></span>
                        READ MORE
                    </div>
                </div>
            </div>
        }
            
        </div>
    </section>
    <!-- Popular Tours slider end -->

    <!-- Service  start-->
    <section id="service">
        <h1>WHY CHOOSE US?</h1>
        <hr>
        <div class="items">
           @foreach (var item in Model.Advantages)
            {
            <div class="item">
                <img style="width:50%" src="~/manage/assets/uploads/icon/@item.Icon" alt="">
                <h2>@item.Title</h2>
                <p>@item.Desc</p>
            </div>
        }
           
        </div>
    </section>
    <!-- Service end-->


<!-- Counters start -->
<section id="counters">
    <p>Some statistics about Travel WP</p>
    <h2>CENTER ACHIEVEMENTS</h2>
    <hr>
    <div class="counter">
        <div class="count">
            <i class="fa-solid fa-plane"></i>
            <p class="number" id="projectcount">94,532</p>
            <p class="count-text">CUSTOMERS</p>
        </div>
        <div class="count">
            <i class="fa-brands fa-pagelines"></i>
            <p class="number" id="clientount">1021</p>
            <p class="count-text">DESTINATIONS</p>
        </div>
        <div class="count">
            <i class="fa-solid fa-globe"></i>
            <p class="number" id="branchcount">20,096</p>
            <p class="count-text">TOURS</p>
        </div>
        <div class="count">
            <i class="fa-solid fa-person-walking-luggage"></i>
            <p class="number" id="yearcount">121</p>
            <p class="count-text">TOUR TYPES</p>
        </div>
    </div>
    <a href=""><i class="fa-solid fa-plane"></i> BOOKING NOW</a>
</section>

<!-- Counters end -->

    <!-- Discount section start -->
    <section id="tour-count">
        <h1>DEALS AND DISCOUNTS</h1>
        <hr>
        <div class="items js-flickity" data-flickity-options='{"wrapAround": true,"freeScroll": true }'>
            @foreach (var item in Model.DiscountTours)
            {
            <div class="item 
">
             <a asp-controller="tour" asp-action="addtowishlist" asp-route-id="@item.Id" class="wishlist-btn" data-toggle="tooltip" title="Add To Cart">
                    <div class="icon-wishlist addwish "></div>
                </a>
                 <div class="image" style=" background-image: url(../../manage/assets/uploads/tours/@item.TourImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName)">
                    <span><del>@item.SalePrice AZN</del> @item.DiscountPrice AZN</span>
                    <div class="img-icons">
                        <a asp-action="checkout" asp-controller="order" asp-route-id="@item.Id" data-toggle="tooltip" title="Add To Cart">
                            <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                           class="fa-solid fa-plane"></i>
                        </a>
                        <a asp-controller="tour" asp-action="detail" asp-route-id="@item.Id" class="modal-btn" >
                            <span data-toggle="tooltip"
                              title="Quick View">
                                <i style="background-color: rgba(43, 42, 42, 0.344); color: white!important;"
                               class="fa-solid fa-eye"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="slide-text">
                    <h2>@item.Name</h2>
                    <p><i class="fa-regular fa-clock"></i>@(@item.EndDate.Subtract(item.StartDate).Days+1) DAYS - @item.EndDate.Subtract(item.StartDate).Days NIGHTS</p>
                  
                </div>
                <div class="read-more">
                    <div class="icons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="read">
                        <span></span>
                        READ MORE
                    </div>
                </div>
            </div>
        }
          
        </div>
    </section>

    <!-- Discount section end -->

    <!-- Blog section start-->
    <section id="blogs" class="container">
        <div>
        <div class="blog-1 m-auto">
            <h2>TOURS REVIEWS</h2>
            <hr>
        </div>
        
            
            
                <div class="row text-center justify-content-between">
                   @foreach (var item in Model.Reviews)
                    {
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card g-2 px-1" style="width:350px ;">
                                <div class="card-body ">
                                    <div class="d-flex justify-content-center mb-4">
                                        <img src="~/manage/assets/uploads/tours/@item.Tour.TourImages.FirstOrDefault(x=>x.PosterStatus==true).ImageName
"
                                         class="rounded-circle shadow-1-strong" width="100" height="100"/>
                                    </div>
                                    <h5 class="font-weight-bold">@item.AppUser.FullName</h5>
                                    <h6 class="font-weight-bold my-3">@item.Tour.Name</h6>
                                    <ul class="list-unstyled d-flex justify-content-center">
                                    @for (int i = 1; i<=5; i++)
                                     {
                                    <li class=" fa-regular fa-star @(i<=item.Tour.Rate?"fa-solid fa-star":"")"></li>
                                    }
                                    </ul>
                                    <p class="mb-2">
                                        <i class="fas fa-quote-left pe-2"></i>@item.Text
                                    </p>
                                </div>
                            </div>
                        </div>
                    }

                  
                </div>
           
        </section>
        </div>
        
    </section>
    <!-- Blog section end-->

    <!-- Quick view modal start -->
   <!-- <div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
        </div>
    </div> -->
    <!-- Quick view modal end -->


