@using Final_Project_Travel.Services;

@model PaginatedList<Setting>
@inject LayoutService layoutService
@{
    ViewData["Title"] = "Index";
    int dataOrder = (Model.PageIndex - 1) * 2;
    Dictionary<string, string> Settings = layoutService.GetSettings();
}
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-8">
            <h1>Setting</h1> <a class="btn btn-info" asp-controller="setting" asp-action="create">Create</a>
        </div>
        <div class="col-md-8">

            <table class="table table-info table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>



                    @foreach (var item in Model.Items)
                    {
                        dataOrder++;
                        <tr>
                            <th scope="row">@dataOrder</th>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                            <td>
                                <a asp-action="edit" asp-controller="Setting" asp-route-id="@item.Id" class="btn btn-info">Edit</a>

                            </td>
                        </tr>

                    }
                </tbody>
            </table>

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev?"":"disabled")">
                        <span class="page-link">Previous</span>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex==i?"active":"")"><a class="page-link" asp-route-search="@ViewBag.Search" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item  @(Model.HasNext?"":"disabled")">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>