@using Final_Project_Travel.ViewModels;
 @model ProfileViewModel

@{
    int dataOrder = 0;
}


<!-- Main section start -->

      <div class="tab-container">
      <div class="tab-menu">
            <ul >
            <li><a href="#" class="tab-a active-a " (@ViewBag.tab= ="Profile" ? "show active" : "" )" href="#profile" data-toggle="tab" data-id="tab1">ACCOUNT</a></li>
            <li><a href="#" class="tab-a  (@ViewBag.tab == " Order" ? "show active" : "" )" href="#orders" data-toggle="tab" data-id="tab2">BOOKINGS</a></li>
            
            </ul>
         </div><!--end of tab-menu-->
    <div class="tab tab-active " (@ViewBag.tab== "Profile" ? "show active" : "")" data-id="tab1">
           
                            @Html.Partial("_MemberUpdateFormPartial",Model.Member)
           

         </div><!--end of tab one--> 

         <div  class="tab  (@ViewBag.tab== "Order" ? "show active" : """ data-id="tab2">
            <table class="table table-bordered mt-5 mb-5">
               <thead>
                 <tr>
                   <th style="background-color: #DBA337; color: white;" scope="col">No</th>
                   <th style="background-color: #DBA337;color: white;"scope="col">Date</th>
                    <th style="background-color: #DBA337;color: white;" scope="col">TourName</th>
                   <th style="background-color: #DBA337;color: white;"scope="col">Status</th>
                   <th style="background-color: #DBA337;color: white;"scope="col">Total Price</th>
                  

                 </tr>
               </thead>
               <tbody>
                    @foreach (var item in Model.Orders)
                   {
                     dataOrder++;
                   <tr>
                   <th scope="row">@dataOrder</th>
                    <td>@item.CreatedDate</td>
                    <td>@item.OrderItem.TourName</td>
                   <td>@item.Status</td>
                   <td>@item.TotalAmount AZN</td>
                   </tr>
                 }

               </tbody>
             </table>

      </div><!--end of container-->

     
    <!-- Main section end -->

