@using Final_Project_Travel.ViewModels;
@model OrderCreateViewModel


<form id ="orderform" asp-action="create" asp-controller="order" method="post">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
    {
        <div class="single-input-item">
            <label for="FullName" >FullName</label>
            <input style="color:black" id="FullMame"disabled value="@Model.FullName" />
                <input type="hidden" name="FullName" value="@Model.FullName"></input>
        </div>
        <div class="single-input-item">
                <label for="Email">Email</label>
            <input style="color:black" id="Email" disabled value="@Model.Email" />
                <input type="hidden" name="Email" value="@Model.Email"></input>
        </div>

        
         <div class="single-input-item">
                <label for="Phone">Phone</label>
            <input style="color:black" id="Phone" disabled value="@Model.Phone" />
                <input type="hidden" name="Phone" value="@Model.Phone"></input>
        </div>

    }
    else
    {
        <div class="single-input-item">
            <label asp-for="FullName" class="required">FullName</label>
            <input style="color:black" type="text" asp-for="FullName" placeholder="FullName" />
            <span class="text-danger" asp-validation-for="FullName"></span>
        </div>
        <div class="single-input-item">
            <label asp-for="Email" class="required">Email </label>
            <input style="color:black"  type="email" asp-for="Email" placeholder="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="single-input-item">
            <label asp-for="Phone">Phone</label>
            <input style="color:black" type="text" asp-for="Phone" placeholder="Phone" />
            <span class="text-danger" asp-validation-for="Phone"></span>

            </div>
    }
     <div class="single-input-item">
                <label asp-for="Adress" class="required mt-20">Adress</label>
        <input style="color:black" type="text" asp-for="Adress" placeholder="Adress" />
                <span class="text-danger" asp-validation-for="Adress"></span>
            </div>


            <div class="single-input-item">
                <label asp-for="Note"> Note</label>
        <textarea style="color:black" name="ordernote" asp-for="Note" cols="30" rows="3" placeholder="Note"></textarea>
                <span class="text-danger" asp-validation-for="Note"></span>
            </div>
    
                   
     </form>